* {
	outline: none;
}
/* .......  fonts ............ */
@font-face {
    font-family: 'SourceSansPro-Reg';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/source-sans-pro.bold-webfont.eot');
    src: url('../fonts/source-sans-pro.bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source-sans-pro.bold-webfont.woff2') format('woff2'),
         url('../fonts/source-sans-pro.bold-webfont.woff') format('woff'),
         url('../fonts/source-sans-pro.bold-webfont.ttf') format('truetype'),
         url('../fonts/source-sans-pro.bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat-Reg';
    src: url('../fonts/Montserrat-Regular-webfont.eot');
    src: url('../fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold-webfont.eot');
    src: url('../fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont-webfont.eot');
    src: url('../fonts/opensans-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'arapeyregular';
    src: url('../fonts/Arapey-Regular-webfont.eot');
    src: url('../fonts/Arapey-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arapey-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Arapey-Regular-webfont.woff') format('woff'),
         url('../fonts/Arapey-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Arapey-Regular-webfont.svg#arapeyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Light-webfont.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: "SourceSansPro-Reg", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #3e3e3e;
	line-height: 24px;
}
a {
	color: #c8dd21;
}
a:hover {
	color: #454545;
}
a:focus{
	outline: none;	
}
img{
	max-width: 100%;	
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
h4, .h4{
	font-family: 'source_sans_probold', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.page-header {
    border-bottom: 0 none;
    margin: 0;
    padding-bottom: 0;
}
.container > .navbar-header, .container > .navbar-collapse{
	margin-left: -15px;
	margin-right: -15px;	
}
/* .........  clear float ..........  */
.view-services > .view-content:after {
	content: "";
	display: table;
	clear: both;
}
/* ......  top navigation region  .......  */
.topNav {
	background-color: #454545;
}
.topNav .nav {
	float: right;
}
.topNav .nav li {
	float: left;
}
.topNav .nav li a {
	color: #999898;
	font-size: 18px;
	font-family: 'Montserrat-Reg', Helvetica, Arial, sans-serif;
}
.navbar .logo{
	margin: 0;	
}
/* ......  header & mobile menu .......  */
header.navbar-default {
	background-color: #FFF;
	border: none;
	margin: 0;
	border-top: 4px solid #c8dd21;
}
header.navbar-default .nav li a {
	color: #454545;
	font-size: 22px;
	font-family: 'Montserrat-Reg';
}
@media (min-width:768px) {
header.navbar-default {
	padding: 33px 0;
}
header.navbar-default .nav {
	margin-top: 12px;
}
header.navbar-default .nav li {
	float: left;
}
}
/* ......  navigation styles overrides .......  */
.nav>li>a {
	text-transform: uppercase;
}
.nav>li>a:hover, .nav>li>a:focus {
	background: transparent;
	color: #c8dd21!important;
}
/* ..............  banner region ............  */
.front .first-container {
    margin-bottom: 95px;
}
.first-container .container {
	padding-bottom: 95px;
	border-bottom: 1px solid #e8e8e8;
}
.first-container .views-field-field-banner-mobile {
	display: none;
}
.first-container .views-field-field-banner-web img {
	max-width: 100%;
	height: auto;
}
/* ...............  info region home page ............. */
.second-container .view-services {
	padding-bottom: 94px;
	border-bottom: 1px solid #e8e8e8;
}
.view-services > .view-content {
	text-align: center;
}
.img-circle {
	width: 96px;
	height: 96px;
	border-radius: 100%;
	overflow: hidden;
	border: 2px solid #c8dd21;
	margin: 0 auto;
}
.view-services .views-field-title {
	display: table;
	min-height: 58px;
	margin: 25px 0 19px;
}
.view-services .views-field-title h2 {
	font-size: 27px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat-Bold';
}
.view-services .views-field-title h2 a {
	text-transform: uppercase;
}
.view-services .views-field-body p {
	color: #3a3a3a;
}
/* ...............  testimonial home page ................  */
/*.view-testimonial-all .view-content {
	padding: 50px 30px 50px 169px;
	background: url("../Images/commas.png") no-repeat 106px 30px;
}*/
.view-testimonial-all .view-content {
    background: url("../Images/commas.png") no-repeat scroll left 30px rgba(0, 0, 0, 0);
    padding: 50px 30px 50px 60px;
}
.testimonial-message {
	font-size: 37px;
	color: #8d8d8d;
	line-height: 38px;
	margin-bottom: 15px;
}
.testimonial-creator {
	color: #8d8d8d;
}
/* ...............  carousel block ...................  */
.fourth-container {
	background-color: #e1e1e1;
}
.view-home-clients {
	padding: 40px 0 70px;
}
.view-home-clients .view-header h4 {
	color: #FFF;
	text-align: center;
	margin-bottom: 60px;
}
.view-home-clients .view-content {
	text-align: center;
}
/* .................  footer ............  */
.footer {
	margin-top: 0;
	border: none;
	background-color: #6d6d6d;
	color: #FFF;
	font-size: 16px;
}
.region-footer {
	margin-bottom: 35px;
}
#footer-logo, .footer-social {
	float: left;
	margin-right: 35px;
}
#footer-logo {
	float: left;
	width: 219px;
	height: 28px;
	background: url("../Images/footlogo.png") no-repeat left;
}
.footer-social > div {
	float: left;
	width: 29px;
	height: 28px;
	background: url("../Images/socialIco.png") no-repeat left center;
	margin-right: 10px;
}
.footer-social > div a {
	display: block;
	height: inherit;
}
.footer-social > div.so-icons-t {
	background-position: -30px center;
}
.footer-social > div.so-icons-m {
	background-position: -60px center;
}
.footer-social > div.so-icons-u {
	background-position: -90px center;
}
footer h2.block-title {
	margin-top: 0;
	margin-bottom: 25px;
	font-family: 'source_sans_prolight', Helvetica, Arial, sans-serif;
	font-size: 22px;
}
footer a{
	color: #fff;	
}
footer a:hover{
	color: #c9c9c9;	
}
footer .views-row{
	margin-bottom: 20px;	
}
footer .col-md-4 {
	border-right: 1px solid #888888;
	padding-left: 60px;
}
footer .col-md-4:first-child {
	padding-left: 15px;
	padding-right: 60px;
}
footer .col-md-4:last-child {
	border: none;
}
.footer-third {
	background-color: #c8de22;
	color: #FFF;
	font-size: 14px;
	padding: 5px 0;
}
/* blog page starts here */
.blog-container{
	max-width: 880px;	
}
.view-blogs .views-row{
	border-bottom: 1px solid #e8e8e8;
	padding: 60px 0;	
}
.blog-container .views-field-name{
	font-size: 20px;
	font-family: 'Montserrat-Reg', Helvetica, Arial, sans-serif;
	color: #636363;
	text-transform: capitalize;
}
.blog-container .views-field-title, .blog-container .views-field-title a{
	font-size: 30px;
	font-family: 'Montserrat-Bold' , Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #3e3e3e;
	line-height: 38px;
}
.blog-container .views-more-link{
	display: block;
	padding-top: 20px;
	font-size: 20px;
	font-family: 'Montserrat-Reg', Helvetica, Arial, sans-serif;	
}
.blog-container .views-field-body, .blog-container .views-field-field-blog-image{
	padding-top: 20px;	
}

/* end of blog page*/

/* styles for pagination starts here*/
.pagination > li > a, .pagination > li > span{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-right:5px;	
	color: #838383;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background: #1d1f21;
	border-color: #1d1f21;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	background: #1d1f21;
	border-color: #1d1f21;
	color: #fff;
}
/* end of styles for pagination */

/*blog post page*/
.node-type-blog

.blog-container{
	max-width: 880px;	
}
.submitted{
	font-size: 20px;
	font-family: 'Montserrat-Reg', Helvetica, Arial, sans-serif;
	color: #636363;
	text-transform: capitalize;
	font-style:normal;
}
.sharethis-buttons {
    padding: 20px 0;
}
.blog-container .field-name-body, .blog-container .field-name-field-blog-image{
	padding-top: 20px;	
}

/*end of blog post*/

/*styles for service page*/
.view-our-services .views-field-title a{
	font: 35px/35px 'Montserrat-Reg', Helvetica, Arial, sans-serif;
	color:#fff;
	position:absolute;
	left: 35px;
	width: 100%;
	max-width: 420px;
	text-transform: uppercase;
	top: 50%;
}
.view-our-services .views-row{
	margin-bottom: 30px;	
}
/*end of service page*/

/*styles for about page*/
.view-about-us .views-field{
	margin-bottom: 30px;	
}
.view-about-us .views-field-body {
    margin: 0;
}
.view-about-us .views-field:after{
	clear: both;
	display: table;
	content: "";	
}
.views-field.views-field-field-header-description {
    background: none repeat scroll 0 0 #3e3e3e;
    color: #fff;
    padding: 15px;
}
/*end of about page*/